/* start generic */

body {
  background: #eee;
}
h1 {
  font-weight: 100;
}
.button {
  background-color:#215ca0;
  border-radius: 4px;
  height:40px;
  width: 150px;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.cancel-button {
  background-color: #dd4b39;
}

.general-container {
  width: 70%;
  margin:0 auto;
  margin-top: 4%;;
}

/* end generic */

/* start nav */
.nav-container {
  background-color: #009EDB;
  position: relative;
  height: 50px;
  width: 100%;
}

.nav-menu-container {
  width: 70%;
  margin: 0 auto;
  height:inherit;
}

.nav-menu-container ul {
  float:right;
}

.nav-menu-container h1 {
  display: inline-block;
  margin-top:5px;
}

.nav-menu-container li{
  display:inline-block;
  list-style: none;
  font-size: 1.4em;
  padding-left:30px;
}

.nav-menu-container li a {
  color: white;
}


.nav-menu-container h1 {
  color:white;
}

/* end nav */


/* start collection */

.collection-item {
  margin: 2%;
  margin-left: 0;
}
.collection-item-hr {
  width: 20%;
  margin: 0 auto;
}

.create-button {
  background-color: #278806;
  float: right;
}

.flip-card-container {
  background-color: transparent;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-container:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #bbb;
  color: black;
  transform: rotateY(180deg);
}

.feature-card-container {
  height: 350px;
  background-color: white;
  width:60%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  padding: 40px;
  font-size: 1.9em;
  line-height: 1.5;
  overflow-y: scroll;
}


.carousel-container-inner {
  height: 7.5em;
  width: 70%;
  margin:0 auto;
  margin-top: 20px;
  overflow-x:scroll;
  overflow-y: hidden;
  white-space:nowrap;
}

.carousel-item {
  display:inline-block;
  width:150px;
  background-color: white;
  height:85%;
  text-align: center;
  vertical-align:top;
  margin:5px;
  word-wrap: break-word;
  white-space: pre-line;
  overflow-y: hidden;
  padding: 5px;
}

.carousel-item:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
  background-color:#bbb
}
/* end collection */

