/* start generic */

.display-none {
  display:none;
}
body {
  background: #E7EFFF;
  min-width: 1120px;
}

h1 {
  font-weight: 800;
  color: #215ca0;
}

.ui.active.modal {
  background: #E7EFFF;

}
.ui.modal>.header:not(.ui), .ui.form .field>label {
  color: #215ca0;
  background: transparent;
}

.field {
  position: relative;
}

.ui.large.form input, input {
  border: 0; 
  padding: 7px 0; 
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  background: transparent;
}

.ui.large.form input:focus, input:focus {
  background: transparent;
}
.ui.large.form input ~ .focus-border, input ~ .focus-border {
  position: absolute; 
  bottom: 0; 
  left: 50%; 
  width: 0; 
  height: 2px; 
  background-color: #3399FF; 
  transition: 0.4s;
}

.ui.large.form input:focus ~ .focus-border, input:focus ~ .focus-border{
  width: 100%; 
  transition: 0.4s; 
  left: 0;
}


.button {
  background-color:#215ca0;
  border-radius: 6px;
  height:40px;
  width: 150px;
  color: white;
  margin-left: 10px;
}

.button:hover {
  cursor: pointer;
}

.cancel-button {
  background-color: #dd4b39;
  float: right;
  width:20%;
}
.cancel-button:hover {
  background: #B11501;
}
.create-button {
  float:right;
  background-color: #215ca0;
  width:20%;
}
.create-button:hover {
  background: #083E7A;
}

.general-container {
  width: 70%;
  margin:0 auto;
  margin-top: 4%;;

}

.ui.modal {
  width: 38%;
  padding:2%;
  min-width: 450px;
}

img {
  height:100%;
  width:100%;
  object-fit: contain;
  padding: 10px;
}

hr {
  border:0;
  border-top: 1px solid black;
}
/* end generic */

/* start nav */
.nav-container {
  background-color: #226FD9;
  position: relative;
  height: 70px;
  width: 100%;
  box-shadow: 0px 1px 7px 0px rgba(138,138,138,1);
}

.nav-menu-container {
  width: 71%;
  margin: 0 auto;
  height:inherit;

}

.nav-menu-container ul {
  float:right;
  margin-top:32px;
}

.nav-menu-container h1 {
  display: inline-block;
  margin-top:8px;
  color:white;
  font-size: 40px;
}

.nav-menu-container li{
  display:inline-block;
  list-style: none;
  font-size: 1.4em;
  padding-left:50px;
}

.nav-menu-container a {
  text-shadow: 1px 2px 3px #444;
}
.nav-menu-container li a {
  color: white;
}

.nav-menu-container li a:hover {
  color: #FFCE60;
}

.nav-menu-container li a.nav-clicked {
  color: #FFCE60;
  font-weight: 800;
  font-size:1.1em;
}

/* end nav */

/* start home */

.home-header h1{
  display: inline-block;
  color: #215ca0;
}

.no-collection-text {
  width:20%;
  margin: 0 auto;
}

/* end home */

/* start collection */


.collection-header h1{
  display:inline-block;
}

.empty-collection-container {
  width:20%;
  margin: 0 auto;
}

.collection-item-wrapper {
  display: inline-block;
  vertical-align: top;
  transition:0.2s;
}

.collection-item-wrapper:hover{
  cursor: pointer;
  transform: scale(1.07);
  transition: 0.2s;
}

.collection-item:hover div{
  color:#3B77C4;
}

.collection-item {
  background: #fff;
  height: 180px;
  width:182px;
  margin:20px;
  position: relative;
  font-family: 'Catamaran', sans-serif;
  padding:10px;
}

.collection-item div {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  word-break: break-all;
  color: #044196;
}

.collection-item,
.collection-item::before,
.collection-item::after {
  /* Add shadow to distinguish sheets from one another */
  box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
}

.collection-item::before,
.collection-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.collection-item::before {
  left: 6px;
  top: 5px;
  z-index: -1;
}

.collection-item::after {
  left: 10px;
  top: 8px;
  z-index: -2;
}

.flip-card-container {
  background-color: transparent;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  perspective: 1000px;
  margin-top: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Handlee', cursive;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card-inner:hover {
  cursor: pointer;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  backface-visibility: hidden;
  box-shadow: 0px 3px 5px 0px rgba(138,138,138,1);
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-text {
  height:100%;
  width:100%;
  word-break: break-all;
  color: #212121;
}

.flip-card-text div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  backface-visibility: hidden;
}

/* .feature-card-outer {
  position: relative;
} */
.next-arrow:hover, .prev-arrow:hover {
  cursor: pointer;
  color: #FFB53C;
  opacity: 1;
}

i.huge.icon {
  margin-top:20%;
}
.next-arrow {
  float: right;
  color: #215ca0;
}

.prev-arrow {
  float: left;
  color: #215ca0;
}
.prev-arrow.invalid {
  opacity: 0.5;
  color: #5EA2FF;
  cursor: default;
}
.next-arrow.invalid {
  opacity: 0.5;
  color: #5EA2FF;
  cursor: default;
}

.feature-card-container {
  position: relative;
  height: 350px;
  background-color: transparent;
  width:60%;
  margin: 0 auto;
  margin-top: 8%;
  text-align: center;
  /* padding: 40px; */
  font-size: 1.9em;
  line-height: 1.5;
  border-radius: 4px;
  perspective: 2000px;
}

.feature-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  font-family: 'Handlee', cursive;
  box-shadow: 0px 5px 7px 0px rgba(138,138,138,1);
  word-break: break-all;
}

.feature-card-text {
  height:100%;
  width:100%;
  color: #212121;
}

.feature-card-text div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  backface-visibility: hidden;
  padding: 20px;
}

.feature-card-inner.flipped {
  transform: rotateY(180deg);
}

.feature-card-front, .feature-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.feature-card-front {
  background-color: white;
  color: black;
}

.feature-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

.feature-card-button {
  position:absolute;
  top:30%;
  right:-8%;
}

.feature-button {
  color: #3F8DF2;
}

.feature-button:hover {
  color: #FFB53C;
  cursor: pointer;
}

.featured {
  border:1px solid #009EDB;
  transform: scale(1.1);
  transition: 0.3s;
}

.starred {
  color: #FFB53C;
}
.carousel-container-inner {
  height: 9.5em;
  width: 70%;
  margin:0 auto;
  margin-top: 4%;
  overflow-x:hidden;
  overflow-y: hidden;
  white-space:nowrap;
}

.carousel-container-inner:hover {
  overflow-x:auto;
}

.carousel-item {
  display:inline-block;
  width:150px;
  background-color: white;
  height:7em;
  text-align: center;
  vertical-align:top;
  margin:5px;
  word-wrap: break-word;
  white-space: pre-line;
  overflow: hidden;
  padding: 10px;
  border-radius: 4px;
  margin-top: 9px;
  margin-left: 11px;
  box-shadow: 0px 2px 5px 0px rgba(138,138,138,1);
  transition: 0.3s;
}

.carousel-item:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
  background-color:#ddd;
  overflow-y: hidden;
}

.carousel-item-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding:3px;
  font-family: "Handlee";
  overflow: hidden;
  color: #212121;
}


/* end collection */

/* mock */

.timer {
  font-size: 30px;
  width:13%;
  margin:0 auto;
  color:#0C40A6;
}

input {
  width: 100%;
}
.mock-dropdown-container {
  margin-top:20px;
}

.answer-container {
  margin-top: 30px;
}

.answer-container button {
  margin-top:10px;
}

.answer-container label {
  font-size:20px;
  color: #215ca0;
}

ul {
  padding-left: 0;
}
.result-container ul li {
  list-style: none;
  font-size: 20px;
  margin:10px;
  overflow: hidden;
}

.result-term {
  color:#215ca0;
  display:inline-block;
  position: absolute;
  height: 10%;
  overflow: hidden;
  line-height: 1.5;
}

.result-container ~ button {
  margin-top: 10%;
}

.result-container i {
  margin-top: 2%;
}